
{% extends "discussion_base.html" %}


{% block discussion_content %}
{% load KFLtemplatetags %}




	<div class="producttable">


		{% if lan == 'en' %}You are currently translating the following post:{% endif %}
		{% if lan == 'cn' %}您正在翻譯以下文章:{% endif %}

		{% url 'threadcategory' displayed_category.pid as the_url %}
			{% if lan == 'en' %}<form action="" method="post" onsubmit="return confirm('Sure to submit? The submitted content cannot be modified anymore!');">{% endif %}
			{% if lan == 'cn' %}<form action="" method="post" onsubmit="return confirm('確定要提交文章嗎? 提交的內容將無法被更改!');">{% endif %}
			<table>	   			
				<col width="200">
				<col width="800">

				<tr>
					<td colspan=2>
						<HR>
					</td>
				</tr>			


				<tr>
					<td colspan=2>

						{{displayed_thread.posted_on}} by <b>{{displayed_thread.posted_by}}</b>:<br>
						<b>{{displayed_thread.title}}</b>


						<table>
							<col width='30'>
							<col width='970'>
							<tr>
								<td></td>
								<td>
									<pre>{{displayed_thread.Content}}</pre>
								</td>
							</tr>
						</table>

						
					</td>
				</tr>						


				
				<tr>

					<td colspan=2>
						<HR>
					</td>

				</tr>			
				<tr>

					<td>					
						{% if lan == 'en' %}Subject{% endif %}
						{% if lan == 'cn' %}標題{% endif %}				
					</td>
					<td>
						{{form_post.title}}
						{% for error in form_post.title.errors %}
							<font color="red">{{error}}</font>
						{% endfor %}
					</td>	
				</tr>
				<tr>
					<td>
						{% if lan == 'en' %}In Language{% endif %}
						{% if lan == 'cn' %}發文語言{% endif %}						
					</td>
					<td>
						{{form_post.language}}
					</td>
				</tr>
				<tr>
					<td>
						{% if lan == 'en' %}Content{% endif %}
						{% if lan == 'cn' %}內容{% endif %}						
					</td>
					<td>
						{{form_post.content}}
						{% for error in form_post.content.errors %}
							<font color="red">{{error}}</font>
						{% endfor %}						
					</td>				
				</tr>
				
				<tr>
					<td></td>
					<td>
						{% csrf_token %}
						
						{% if lan == 'en' %}
							<input type="submit" value="Submit" />
						{% endif %}
						{% if lan == 'cn' %}
							<input type="submit" value="送出" />
						{% endif %}						
					</td>
				</tr>
			</table>
		</form>
	</div>








{% endblock %}